        
.box1 {  
    padding: 1em;
    background-color: #8B2AF9;
    margin: 0.5em;
         }
         
.box2 {          
    padding: 1em;
    background-color: #1C53FF;
    margin: 0.5em;     
         }
        
.box3 {     
    padding: 1em;
    background-color: #76FC19;
    margin: 0.5em;    
        }
        
.btn {          
    padding: 1em;
    background-color: #2793ae;
    margin: 0.5em;   
        }
        
.btn:hover{
    background-color: #b30e0e;
         }