body {
    font-family: 'Arial', sans-serif;
    background-color: #C1E1C1;
    margin: 0;
    padding: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.profile-container, .repos-container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #6eb5d1; 
    width: 45%;
}

#profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.repos-container div {
    max-height: 300px;
    overflow-y: auto;
}

.repos-container div:last-child {
    border-bottom: none;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
}